<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品管理页面</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap4.min.css}" />
  <script  th:src="@{/js/jquery-3.5.1.min.js}" ></script>
  <script  th:src="@{/js/popper.min.js}" ></script>
  <script th:src="@{/js/bootstrap4.min.js}" ></script>
</head>
<body>
<div class="container-fluid mt-2">

    <a th:href="@{/spu/add}" class="btn btn-info my-2 btn-add" >添加商品</a>

        <table class="table table-border table-striped table-sm" >
            <thead>
            <tr>
                <th><input type="checkbox" id="cbxAll"></th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>封面图片</th>
                <th>商品起价</th>
                <th>商品品牌</th>
                <th>商品分类</th>
                <th>商品库存</th>
                <th>预警库存</th>
                <th>限购数量</th>
                <th>商品单位</th>
                <th>商品状态</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作选项</th>

            </tr>




            </thead>
            <tbody>
            <tr>
                <th><input type="checkbox" ></th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>封面图片</th>
                <th>商品起价</th>
                <th>商品品牌</th>
                <th>商品分类</th>
                <th>商品库存</th>
                <th>预警库存</th>
                <th>限购数量</th>
                <th>商品单位</th>
                <th>商品状态</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作选项</th>
            </tr>

            </tbody>

        </table>

 </div>

 </body>

</html>