<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BWF Shop Admin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/animate.min.css}" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/wow.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <script type="text/javascript" th:src="@{/js/global.js}" ></script>
</head>
<body>


<div class="row">

    <!--
        作者：titushan2010@163.com
        时间：2017-09-23
        描述：站点数据索引
    -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-condense">
        <div class="btn-group btn-group-lg" style="width: 100%; text-align: center; height: 80px;">
            <button type="button" class="btn btn-info animate-btn" style="width: 50%; height: 100%;">
                <img th:src="@{/img/b26.png}" class="img " height="60px"/>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%; text-align:center; height: 100%;">
                <div style="font-size: 24px; font-weight: 600;">1277</div>
                <div style="font-size: 16px;">新消息</div>
            </button>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-condense">
        <div class="btn-group btn-group-lg" style="width: 100%; text-align: center; height: 80px;">
            <button type="button" class="btn btn-warning animate-btn" style="width: 50%; height: 100%;">
                <img th:src="@{/img/b10.png}" class="img " height="60px"/>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%; text-align:center; height: 100%;">
                <div style="font-size: 24px; font-weight: 600;">598</div>
                <div style="font-size: 16px;">新增人数</div>
            </button>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-condense">
        <div class="btn-group btn-group-lg" style="width: 100%; text-align: center; height: 80px;">
            <button type="button" class="btn btn-success animate-btn" style="width: 50%; height: 100%;">
                <img th:src="@{/img/b23.png}" class="img " height="60px"/>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%; text-align:center; height: 100%;">
                <div style="font-size: 24px; font-weight: 600;">598</div>
                <div style="font-size: 16px;">用户总数</div>
            </button>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-condense">
        <div class="btn-group btn-group-lg" style="width: 100%; text-align: center; height: 80px;">
            <button type="button" class="btn btn-danger animate-btn" style="width: 50%; height: 100%;">
                <img th:src="@{/img/b22.png}" class="img " height="60px"/>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%; text-align:center; height: 100%;">
                <div style="font-size: 24px; font-weight: 600;">2348</div>
                <div style="font-size: 16px;">图片总数</div>
            </button>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-condense">
        <div class="btn-group btn-group-lg" style="width: 100%; text-align: center; height: 80px;">
            <button type="button" class="btn btn-primary animate-btn" style="width: 50%; height: 100%;">
                <img th:src="@{/img/b15.png}" class="img " height="60px"/>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%; text-align:center; height: 100%;">
                <div style="font-size: 24px; font-weight: 600;">0</div>
                <div style="font-size: 16px;">待审核文件</div>
            </button>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-condense">
        <div class="btn-group btn-group-lg" style="width: 100%; text-align: center; height: 80px;">
            <button type="button" class="btn btn-warning animate-btn" style="width: 50%; height: 100%;">
                <img th:src="@{/img/b25.png}" class="img " height="60px"/>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%; text-align:center; height: 100%;">
                <div style="font-size: 24px; font-weight: 600;">6113</div>
                <div style="font-size: 16px;">文章总数</div>
            </button>
        </div>
    </div>

    <!--
        作者：titushan2010@163.com
        时间：2017-09-23
        描述：框架技术列表
    -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated wow bounceInUp">
        <div class="panel panel-success">
            <div class="panel-heading">
                博为峰UI模板技术说明
            </div>
            <div class="panel-body">
                本模板基于Bootstrap框架实现，支持所有Bootstrap插件。<br />
                模板中CSS动画效果基于Animate.CSS框架和WOW.Js框架实现，支持所有Animate.CSS中动画效果。<br />
                模板中所有Dom监听事件基于JQuery框架实现，支持所有JQuery插件，当前版本jquery-1.8.3。
            </div>
        </div>
    </div>

    <!--
        作者：titushan2010@163.com
        时间：2017-09-23
        描述：更新日志
    -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animated wow bounceInUp">
        <div class="panel panel-success">
            <div class="panel-heading">
                更新日志
            </div>
            <div class="panel-body">
                # v1.0.1（优化） - 2017-06-25<br/>
                * 修改刚进入页面无任何操作时按回车键提示“请输入解锁密码！”<br/>
                * 优化关闭弹窗按钮的提示信息位置问题【可能是因为加载速度的原因，造成这个问题，所以将提示信息做了一个延时】<br/>
                * “个人资料”提供修改功能<br/>
                * 顶部天气信息自动判断位置【忘记之前是怎么想的做成北京的了，可能是我在大首都吧，哈哈。。。】<br/>
                * 优化“用户列表”无法查询到新添加的用户【竟然是因为我把key值写错了，该死。。。】<br/>
                * 将左侧菜单做成json方式调用，而不是js调用，方便开发使用。同时添加了参数配置和非窗口模式打开的判断，【如登录页面】<br/>
                * 优化部分页面样式问题<br/>
                * 优化添加窗时如果导航不存在图标无法添加成功<br/><br/>

                # v1.0.1（新增） - 2017-07-05<br/>
                * 增加“用户列表”批量删除功能【可能当时忘记添加了吧。。。】<br/>
                * 顶部窗口导航添加“关闭其他”、“关闭全部”功能，同时修改菜单窗口过多的展示效果【在此感谢larryCMS给予的启发】<br/>
                * 添加可隐藏左侧菜单功能【之前考虑没必要添加，但是很多朋友要求加上，那就加上吧，嘿嘿。。。】<br/>
                * 增加换肤功能【之前就想添加的，但是一直没有找到好的方式（好吧，其实是我忘记了），此方法相对简单，不是普遍适用，只简单的做个功能，如果实际用到建议单独写一套样式，将边框颜色、按钮颜色等统一调整，此处为保证代码的简洁性，只做简单的功能，不做赘述，另外“自定义”颜色中未做校验，所以要写入正确的色值。如“#f00”】<br/>
                * 增加登录页面【背景视频仅作样式参考，实际使用中请自行更换为其他视频或图片，否则造成的任何问题使用者本人承担。】<br/>
                * 新增打开窗口的动画效果<br/>
            </div>
        </div>
    </div>

    <!--
        作者：titushan2010@163.com
        时间：2017-09-23
        描述：系统基本参数
    -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animated wow bounceInUp">
        <div class="panel panel-success">
            <div class="panel-heading">
                系统基本参数
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-condensed">
                    <tr>
                        <td>当前版本</td>
                        <td>v1.0.1</td>
                    </tr>
                    <tr>
                        <td>开发作者</td>
                        <td>博为峰教学部</td>
                    </tr>
                    <tr>
                        <td>网站首页</td>
                        <td>index.html</td>
                    </tr>
                    <tr>
                        <td>服务器环境</td>
                        <td>MS Window Server 2008</td>
                    </tr>
                    <tr>
                        <td>数据库产品</td>
                        <td>Oracle oracle</td>
                    </tr>
                    <tr>
                        <td>数据库版本</td>
                        <td>Oracle oracle 11g</td>
                    </tr>
                    <tr>
                        <td>最大上传限制</td>
                        <td>2Mb</td>
                    </tr>
                    <tr>
                        <td>当前用户权限</td>
                        <td>系统管理员</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--
        作者：titushan2010@163.com
        时间：2017-09-23
        描述：最新公告
    -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animated wow bounceInUp">
        <div class="panel panel-success">
            <div class="panel-heading">
                最新公告
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
                            <div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
                            <div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
                            <div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
                            <div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
                            <div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><div class="list-group-item-text">上海博为峰软件技术股份有限公司</div>
                            <div class="list-group-item-text text-right">2017-09-23 12:32:23</div></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div style="height: 80px;"></div>
</body>
</html>